* {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(245, 245, 245, 0.856);
}

body {
    margin: 0;
    background-color: #444444;
}

header {
    height: 250px;
    background-image: url("../img/design1_image1.jpg");
    opacity: 0.7;
    background-position: center 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 120px;
    position: relative;
    right: -70%;
    top: 60%;
}

h1 {
    color: black;
    font-size: 80px;
    text-shadow: 2px 1px 2px rgb(185, 183, 183);
}

h3 {
    font-size: 25px;
    margin-top: 0;
    height: 40px;
    color: rgba(255, 255, 255, 0.9);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

div h4 {
    margin-bottom: 0;
}

div p {
    margin-top: 0;
}

.navbar {
    position: absolute;
    margin-top: 35px;
    margin-left: 10px;
    width: 200px;
}

.navbar a {
    color: whitesmoke;
    display: block;
    padding: 20px;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(206, 206, 206);
}

.navbar a.active {
    font-weight: bold;
}

section {
    margin-left: 200px;
    margin-right: 50px;
}

