* {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(245, 245, 245, 0.856);
}

body {
    margin: 0;
    background-color: #444444;
}

header {
    height: 250px;
    background-image: url("../img/design1_image1.jpg");
    opacity: 0.7;
    background-position: center 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 120px;
    position: relative;
    right: -70%;
    top: 60%;
    transition: transform .2s;
}

.logo:hover {
    transform: scale(1.5);
}

h1 {
    color: black;
    font-size: 80px;
    text-shadow: 2px 1px 2px rgb(185, 183, 183);
}

h3 {
    font-size: 25px;
    margin-bottom: 0;
    height: 40px;
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

article h4 {
    margin-bottom: 0;
}

article p {
    margin-top: 0;
}

nav {
    height: 40px;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: whitesmoke;
    display: block;
    padding: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

nav a:hover {
    color: rgb(206, 206, 206);
}

a i {
    display: block;
    opacity: 100;
}

a:hover i {
    display: none;
    opacity: 0;
}

a span {
    display: none;
    opacity: 0;
}

a:hover span {
    display: block;
    opacity: 100;
}

nav a.active {
    font-weight: bold;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 200px 0 200px;
}

.subsection {
    align-self: flex-start;
}

.subsection-table {
    margin-top: 20px;
}

.subsection-info {
    padding-left: 20px;
}

.subsection-info article {
    align-self: center;
}

.message {
    text-decoration: solid;
    font-style: italic;
    margin: 0;
}

table {
    border-collapse:separate; 
    border-spacing: 0 1em;
}

tr th {
    padding: 0 30px 0 30px;
}

tr td {
    text-align: center;
}

.contacts-questions {
    display: flex;
    justify-content: space-between;
}

.indent-50 {
    text-indent: 50px;
}

.mt-0{
    margin-top: 0;
}

.mb-0{
    margin-bottom: 0;
}

ol li {
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 20px;
    list-style-type:circle;
}